*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.co{
    max-width: 600px;
    padding: 10px;
    background-color: rgb(228, 252, 247);
    margin: 30px auto;
    box-shadow: 3px 3px rgb(247, 241, 235);
}

.in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.in span{
    margin-right: 30px;
}
.file{

}
.file{
    padding: 5px 10px;
    width: 400px;
    height: 40px;
    border: 1px solid rgb(37, 247, 236);
}
.preview{
    display: flex;
    justify-content: center;
}
.preview span{
    margin-right: 70px;
}
.preview #imgs{
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 1px solid  rgb(16, 248, 237);
    padding: 10px 8px;
}