.login {
  width: 100vw;
  height: 100vh;
  background:  url("https://img1.kienthucvui.vn/uploads/2021/01/09/anh-dai-dien-cho-con-gai-dep-dang-yeu_043116580.jpeg");
  background-repeat: repeat;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 50px;
        font-size: 40px;
        font-weight: 700;
        color: red;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    form {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-radius: 5px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      input {
        height: 40px;
        border-radius: 5px;
        background-color: rgb(241, 106, 106);
        color: white;
        padding-left: 10px;

        &::placeholder {
          color: rgb(252, 106, 106);
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: rgb(255, 0, 0);
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}
