*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 700px;
}
.slidebar{
    display: flex;
    justify-content: flex-end;
}
.gmail{
    display: inline-block;
    margin: 20px 15px 0 20px;
}
.gmail a{
    text-decoration: none;
    color: black;
}
.gmail a:hover{
    text-decoration: underline;
    color: black;
}
.hinhanh{
    display: inline-block;
    margin: 20px 15px 0 20px;
}
.hinhanh a{
    text-decoration: none;
    color: black;
}
.hinhanh a:hover{
    text-decoration: underline;
    color: black;
}
.iconmn{
    display: inline-block;
    color: black;
    margin: 15px 15px 0 20px;
    text-align: center;
}

.iconmn:hover{
    text-align: center;
    background: rgb(248, 236, 236);
    width: 35px;
    height: 35px;
    border-radius: 35px;
    line-height: normal;  
}

.btn button{
    background-color: blue;
    color: aliceblue;
    border: 1px solid blue;
    box-shadow: 2px 2px;
    border-radius: 10px;
    width: 130px;
    height: 40px;
}
.btn button:hover{
    background-color: rgb(50, 129, 248);
    box-shadow: inset;
}
.btn{
    display: inline-block;
    margin: 10px 15px 0 20px;
}
.logo{
    text-align: center;
    margin-top: 50px;
}
.search{
  margin: 30px auto;
  text-align: center;
  display: flex;
  align-items: center;
  width: 650px;
  height: 45px;
  background-color: white;
  border-radius: 30px;
  padding: 0 20px;
  border: 1px solid #777;
}
.search:hover{
    border: 1px solid #b7bcc0;
    box-shadow: 1px 1px #b7bcc0;
}
.inp{  
    width: 550px;
    height: 40px;
    border: none;
    outline: none;
}
.inp:focus{  
    outline: none;
}

i .search-btn {
    margin-top: 20px;
    width: 30px;
    height: 40px;
    text-decoration: none;
    color: rgb(26, 24, 24);
}
i{
    margin-top: 30px;
    width: 40px;
    height: 40px;
}
.search-btn1{
    color: red;
}
.selec{
    text-align: center;
}
button{
    height: 30px;
    margin: auto 10px;
    padding:0 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
}
button:hover{
    background-color: #f8f9fa;
    border: 1px solid #d2e5fa;
    box-shadow: 1px 1px #d2e5fa;
}
.language{
    display: flex;
    flex: inline-block;
    justify-content: center;
    margin-top: 30px;
    justify-items: center;
}
p{
    margin-top: 2px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    padding: 15px;
}

.menu li a:hover{
    text-decoration: underline;   
}

.footer{
    margin-top: 250px;
}
.foo{
    color: #777;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    height: 50px;
}
.foo p{
    line-height: 50px;
    margin-left: 25px;
}
.footer-menu{
    display: flex;
    flex: inline-block;
    justify-content: space-between;
    color: #777;
    border-top: 1px solid #e4e6e7;
    background-color:#f8f9fa;
    height: 50px;
    line-height: 50px;
}
.menu1  li{
    display: inline-block;
}
.menu1 li a{
    text-decoration: none;
    color:#777;
    padding: 20px;
}
.menu1 li a:hover{
    text-decoration: underline;
}
.menu2  li{
    display: inline-block;
}
.menu2 li a{
    text-decoration: none;
    padding: 20px;
    color:#777;
}
.menu2 li a:hover{
    text-decoration: underline;
    
}
