* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.setting{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border: 1px solid blue;
}
.body-text{
    margin-top: 20px;
    padding: 10px 0;
    border: 1px solid blue;
}
.search-plus{
    margin-right: 20px;
    cursor: pointer;
}
.search-minus{
    margin-right: 20px;
    cursor: pointer;
}

.btn{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    cursor: pointer;
}
.btn-blue{
    border: 1px solid rgb(164, 164, 247);
    background-color: blue;
  
}
.btn-white{
    border: 1px solid rgb(164, 164, 247);
    background-color: white;
}
.btn-green{
    border: 1px solid rgb(164, 164, 247);
    background-color: green;
}
.btn-gold{
    border: 1px solid rgb(164, 164, 247);
    background-color: gold;
}
.btn-red{
    border: 1px solid rgb(164, 164, 247);
    background-color: red;
}
.space{
    margin-left: 20px;

}
.le{
    margin-left: 20px;
}